<title>Maxent model for Pinus_contorta</title>
<CENTER><H1>Maxent model for Pinus_contorta</H1></CENTER>
<br> This page contains some analysis of the Maxent model for Pinus_contorta, created Mon Apr 10 07:00:25 EDT 2017 using Maxent version 3.3.3k.  If you would like to do further analyses, the raw data used here is linked to at the end of this page.<br>
<br><HR><H2>Analysis of omission/commission</H2>
The following picture shows the omission rate and predicted area as a function of the cumulative threshold.  The omission rate is is calculated both on the training presence records, and (if test data are used) on the test records.  The omission rate should be close to the predicted omission, because of the definition of the cumulative threshold.
<br><img src="plots/Pinus_contorta_omission.png"><br>
<br> The next picture is the receiver operating characteristic (ROC) curve for the same data.  Note that the specificity is defined using predicted area, rather than true commission (see the paper by Phillips, Anderson and Schapire cited on the help page for discussion of what this means).  This implies that the maximum achievable AUC is less than 1.  If test data is drawn from the Maxent distribution itself, then the maximum possible test AUC would be 0.931 rather than 1; in practice the test AUC may exceed this bound.
<br><img src="plots/Pinus_contorta_roc.png"><br>
<br>
<br>
Some common thresholds and corresponding omission rates are as follows.  If test data are available, binomial probabilities are calculated exactly if the number of test samples is at most 25, otherwise using a normal approximation to the binomial.  These are 1-sided p-values for the null hypothesis that test points are predicted no better than by a random prediction with the same fractional predicted area.  The "Balance" threshold minimizes 6 * training omission rate + .04 * cumulative threshold + 1.6 * fractional predicted area.<br>
<br><table border cols=6 cellpadding=3><tr><th>Cumulative threshold</th><th>Logistic threshold</th><th>Description</th><th>Fractional predicted area</th><th>Training omission rate</th><th>Test omission rate</th><th>P-value</th><tr align=center><td>1.000</td><td>0.013</td><td>Fixed cumulative value 1</td><td>0.426</td><td>0.000</td><td>0.004</td><td>0E0</td><tr align=center><td>5.000</td><td>0.078</td><td>Fixed cumulative value 5</td><td>0.223</td><td>0.000</td><td>0.067</td><td>0E0</td><tr align=center><td>10.000</td><td>0.177</td><td>Fixed cumulative value 10</td><td>0.158</td><td>0.022</td><td>0.161</td><td>0E0</td><tr align=center><td>6.624</td><td>0.111</td><td>Minimum training presence</td><td>0.195</td><td>0.000</td><td>0.091</td><td>0E0</td><tr align=center><td>18.650</td><td>0.311</td><td>10 percentile training presence</td><td>0.110</td><td>0.090</td><td>0.382</td><td>0E0</td><tr align=center><td>20.276</td><td>0.330</td><td>Equal training sensitivity and specificity</td><td>0.104</td><td>0.101</td><td>0.404</td><td>0E0</td><tr align=center><td>14.845</td><td>0.260</td><td>Maximum training sensitivity plus specificity</td><td>0.127</td><td>0.045</td><td>0.256</td><td>0E0</td><tr align=center><td>9.928</td><td>0.176</td><td>Equal test sensitivity and specificity</td><td>0.159</td><td>0.022</td><td>0.161</td><td>0E0</td><tr align=center><td>4.165</td><td>0.060</td><td>Maximum test sensitivity plus specificity</td><td>0.243</td><td>0.000</td><td>0.025</td><td>0E0</td><tr align=center><td>4.423</td><td>0.066</td><td>Balance training omission, predicted area and threshold value</td><td>0.236</td><td>0.000</td><td>0.039</td><td>0E0</td><tr align=center><td>7.965</td><td>0.136</td><td>Equate entropy of thresholded and original distributions</td><td>0.178</td><td>0.011</td><td>0.112</td><td>0E0</td></table><br>
<br><HR><H2>Pictures of the model</H2>
This is a representation of the Maxent model for Pinus_contorta.  Warmer colors show areas with better predicted conditions.  White dots show the presence locations used for training, while violet dots show test locations.  Click on the image for a full-size version.<br>
<br><a href = "plots/Pinus_contorta.png"> <img src="plots/Pinus_contorta.png" width=600></a><br>
<br>(A link to the Explain tool was not made for this model.  The model uses product features, while the Explain tool can only be used for additive models.)<br><br>
<br><HR><H2>Analysis of variable contributions</H2><br>
The following table gives estimates of relative contributions of the environmental variables to the Maxent model.  To determine the first estimate, in each iteration of the training algorithm, the increase in regularized gain is added to the contribution of the corresponding variable, or subtracted from it if the change to the absolute value of lambda is negative.  For the second estimate, for each environmental variable in turn, the values of that variable on training presence and background data are randomly permuted.  The model is reevaluated on the permuted data, and the resulting drop in training AUC is shown in the table, normalized to percentages.  As with the variable jackknife, variable contributions should be interpreted with caution when the predictor variables are correlated.<br>
<br><table border cols=3><tr><th>Variable</th><th>Percent contribution</th><th>Permutation importance</th><tr align=right><td>bio10</td><td>30.3</td><td>29.1</td></tr><tr align=right><td>bio3</td><td>18.2</td><td>16.2</td></tr><tr align=right><td>bio9</td><td>16</td><td>7.4</td></tr><tr align=right><td>bio18</td><td>9</td><td>0.4</td></tr><tr align=right><td>bio17</td><td>5.5</td><td>1.4</td></tr><tr align=right><td>bio8</td><td>5.1</td><td>3.8</td></tr><tr align=right><td>bio2</td><td>4.2</td><td>3.9</td></tr><tr align=right><td>bio5</td><td>3.6</td><td>1.7</td></tr><tr align=right><td>bio19</td><td>2.8</td><td>3.7</td></tr><tr align=right><td>bio1</td><td>1.8</td><td>8.8</td></tr><tr align=right><td>bio12</td><td>1.1</td><td>9.2</td></tr><tr align=right><td>bio4</td><td>0.8</td><td>10.9</td></tr><tr align=right><td>bio14</td><td>0.6</td><td>1.1</td></tr><tr align=right><td>bio7</td><td>0.5</td><td>0.3</td></tr><tr align=right><td>bio15</td><td>0.2</td><td>0.9</td></tr><tr align=right><td>bio16</td><td>0.2</td><td>0.5</td></tr><tr align=right><td>bio11</td><td>0.1</td><td>0.2</td></tr><tr align=right><td>bio13</td><td>0.1</td><td>0.2</td></tr><tr align=right><td>bio6</td><td>0</td><td>0</td></tr></table><br><br>
The following picture shows the results of the jackknife test of variable importance.  The environmental variable with highest gain when used in isolation is bio1, which therefore appears to have the most useful information by itself.  The environmental variable that decreases the gain the most when it is omitted is bio2, which therefore appears to have the most information that isn't present in the other variables.<br>
<br><img src="plots/Pinus_contorta_jacknife.png"><br>
<br>The next picture shows the same jackknife test, using test gain instead of training gain.  Note that conclusions about which variables are most important can change, now that we're looking at test data.
<br><img src="plots/Pinus_contorta_jacknife_test.png"><br>
<br>Lastly, we have the same jackknife test, using AUC on test data.
<br><img src="plots/Pinus_contorta_jacknife_auc.png"><br>
<br><HR><H2>Raw data outputs and control parameters</H2><br>
The data used in the above analysis is contained in the next links.  Please see the Help button for more information on these.<br>
<a href = "Pinus_contorta.asc">The model applied to the training environmental layers</a><br>
<a href = "Pinus_contorta.lambdas">The coefficients of the model</a><br>
<a href = "Pinus_contorta_omission.csv">The omission and predicted area for varying cumulative and raw thresholds</a><br>
<a href = "Pinus_contorta_samplePredictions.csv">The prediction strength at the training and (optionally) test presence sites</a><br>
<a href = "maxentResults.csv">Results for all species modeled in the same Maxent run, with summary statistics and (optionally) jackknife results</a><br>
<br><br>
Regularized training gain is 1.742, training AUC is 0.957, unregularized training gain is 2.102.<br>
Unregularized test gain is 1.464.<br>
Test AUC is 0.916, standard deviation is 0.005 (calculated as in DeLong, DeLong & Clarke-Pearson 1988, equation 2).<br>
Algorithm terminated after 500 iterations (7 seconds).<br>
<br>
The follow settings were used during the run:<br>
89 presence records used for training, 285 for testing.<br>
10089 points used to determine the Maxent distribution (background points and presence points).<br>
Environmental layers used (all continuous): bio1 bio10 bio11 bio12 bio13 bio14 bio15 bio16 bio17 bio18 bio19 bio2 bio3 bio4 bio5 bio6 bio7 bio8 bio9<br>
Regularization values: linear/quadratic/product: 0.129, categorical: 0.250, threshold: 1.110, hinge: 0.500<br>
Feature types used: hinge product linear threshold quadratic<br>
jackknife: true<br>
outputdirectory: /Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/maxent<br>
samplesfile: /Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/Pinus contorta.csv<br>
environmentallayers: /Users/averyhill/Desktop/RisForResearch/bioclimNA/<br>
askoverwrite: false<br>
testsamplesfile: /Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Sierra/TEST/Pinus contorta.csv<br>
writebackgroundpredictions: true<br>
autorun: true<br>
adjustsampleradius: -7<br>
Command line used:  environmentallayers=/Users/averyhill/Desktop/RisForResearch/bioclimNA/ samplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/Pinus contorta.csv outputdirectory=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/maxent redoifexists autorun adjustsampleradius=-7 jackknife writebackgroundpredictions testsamplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Sierra/TEST/Pinus contorta.csv<br>
<br>
Command line to repeat this species model: java density.MaxEnt nowarnings noprefixes -E "" -E Pinus_contorta jackknife "outputdirectory=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/maxent" "samplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Whole/LittleSHP/Pinus contorta.csv" environmentallayers=/Users/averyhill/Desktop/RisForResearch/bioclimNA/ noaskoverwrite "testsamplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Pinus contorta/Sierra/TEST/Pinus contorta.csv" writebackgroundpredictions autorun adjustsampleradius=-7<br>
