<title>Maxent model for Abies_concolor</title>
<CENTER><H1>Maxent model for Abies_concolor</H1></CENTER>
<br> This page contains some analysis of the Maxent model for Abies_concolor, created Sun Mar 26 23:33:19 EDT 2017 using Maxent version 3.3.3k.  If you would like to do further analyses, the raw data used here is linked to at the end of this page.<br>
<br><HR><H2>Analysis of omission/commission</H2>
The following picture shows the omission rate and predicted area as a function of the cumulative threshold.  The omission rate is is calculated both on the training presence records, and (if test data are used) on the test records.  The omission rate should be close to the predicted omission, because of the definition of the cumulative threshold.
<br><img src="plots/Abies_concolor_omission.png"><br>
<br> The next picture is the receiver operating characteristic (ROC) curve for the same data.  Note that the specificity is defined using predicted area, rather than true commission (see the paper by Phillips, Anderson and Schapire cited on the help page for discussion of what this means).  This implies that the maximum achievable AUC is less than 1.  If test data is drawn from the Maxent distribution itself, then the maximum possible test AUC would be 0.996 rather than 1; in practice the test AUC may exceed this bound.
<br><img src="plots/Abies_concolor_roc.png"><br>
<br>
<br>
Some common thresholds and corresponding omission rates are as follows.  If test data are available, binomial probabilities are calculated exactly if the number of test samples is at most 25, otherwise using a normal approximation to the binomial.  These are 1-sided p-values for the null hypothesis that test points are predicted no better than by a random prediction with the same fractional predicted area.  The "Balance" threshold minimizes 6 * training omission rate + .04 * cumulative threshold + 1.6 * fractional predicted area.<br>
<br><table border cols=4 cellpadding=3><tr><th>Cumulative threshold</th><th>Logistic threshold</th><th>Description</th><th>Fractional predicted area</th><th>Training omission rate</th><tr align=center><td>1.000</td><td>0.004</td><td>Fixed cumulative value 1</td><td>0.021</td><td>0.000</td><tr align=center><td>5.000</td><td>0.055</td><td>Fixed cumulative value 5</td><td>0.006</td><td>0.000</td><tr align=center><td>10.000</td><td>0.293</td><td>Fixed cumulative value 10</td><td>0.004</td><td>0.036</td><tr align=center><td>9.640</td><td>0.278</td><td>Minimum training presence</td><td>0.004</td><td>0.000</td><tr align=center><td>21.219</td><td>0.479</td><td>10 percentile training presence</td><td>0.003</td><td>0.071</td><tr align=center><td>9.640</td><td>0.278</td><td>Equal training sensitivity and specificity</td><td>0.004</td><td>0.000</td><tr align=center><td>9.640</td><td>0.278</td><td>Maximum training sensitivity plus specificity</td><td>0.004</td><td>0.000</td><tr align=center><td>0.652</td><td>0.002</td><td>Balance training omission, predicted area and threshold value</td><td>0.028</td><td>0.000</td><tr align=center><td>5.421</td><td>0.065</td><td>Equate entropy of thresholded and original distributions</td><td>0.006</td><td>0.000</td></table><br>
<br><HR><H2>Pictures of the model</H2>
This is a representation of the Maxent model for Abies_concolor.  Warmer colors show areas with better predicted conditions.  White dots show the presence locations used for training, while violet dots show test locations.  Click on the image for a full-size version.<br>
<br><a href = "plots/Abies_concolor.png"> <img src="plots/Abies_concolor.png" width=600></a><br>
<br>Click <a href=Abies_concolor_explain.bat type=application/bat>here<a> to interactively explore this prediction using the Explain tool.  If clicking from your browser does not succeed in starting the tool, try running the script in /Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/maxent/Abies_concolor_explain.bat directly.  This tool requires the environmental grids to be small enough that they all fit in memory.<br><br>
<br><HR><H2>Analysis of variable contributions</H2><br>
The following table gives estimates of relative contributions of the environmental variables to the Maxent model.  To determine the first estimate, in each iteration of the training algorithm, the increase in regularized gain is added to the contribution of the corresponding variable, or subtracted from it if the change to the absolute value of lambda is negative.  For the second estimate, for each environmental variable in turn, the values of that variable on training presence and background data are randomly permuted.  The model is reevaluated on the permuted data, and the resulting drop in training AUC is shown in the table, normalized to percentages.  As with the variable jackknife, variable contributions should be interpreted with caution when the predictor variables are correlated.<br>
<br><table border cols=3><tr><th>Variable</th><th>Percent contribution</th><th>Permutation importance</th><tr align=right><td>Precipitation of Coldest Quarter</td><td>37.9</td><td>9.9</td></tr><tr align=right><td>Precipitation of Warmest Quarter</td><td>15.2</td><td>0</td></tr><tr align=right><td>Isothermality</td><td>11.5</td><td>0.3</td></tr><tr align=right><td>Mean Temperature of Wettest Quarter</td><td>10.5</td><td>73.3</td></tr><tr align=right><td>Precipitation Seasonality</td><td>9.5</td><td>6.4</td></tr><tr align=right><td>Mean Temperature of Coldest Quarter</td><td>8.8</td><td>1.6</td></tr><tr align=right><td>Precipitation of Driest Month</td><td>1.8</td><td>0.4</td></tr><tr align=right><td>Precipitation of Driest Quarter</td><td>1.7</td><td>4.5</td></tr><tr align=right><td>Temperature Seasonality</td><td>1.6</td><td>0</td></tr><tr align=right><td>Annual Mean Temperature</td><td>0.9</td><td>1.8</td></tr><tr align=right><td>Mean Temperature of Warmest Quarter</td><td>0.4</td><td>0</td></tr><tr align=right><td>Mean Diurnal Range</td><td>0.1</td><td>0.2</td></tr><tr align=right><td>Min Temperature of Coldest Month</td><td>0</td><td>1.8</td></tr><tr align=right><td>Precipitation of Wettest Quarter</td><td>0</td><td>0</td></tr><tr align=right><td>Precipitation of Wettest Month</td><td>0</td><td>0</td></tr><tr align=right><td>Max Temperature of Warmest Month</td><td>0</td><td>0</td></tr><tr align=right><td>Temperature Annual Range</td><td>0</td><td>0</td></tr><tr align=right><td>Annual Precipitation</td><td>0</td><td>0</td></tr><tr align=right><td>Mean Temperature of Driest Quarter</td><td>0</td><td>0</td></tr></table><br><br>
The following picture shows the results of the jackknife test of variable importance.  The environmental variable with highest gain when used in isolation is Mean Temperature of Wettest Quarter, which therefore appears to have the most useful information by itself.  The environmental variable that decreases the gain the most when it is omitted is Precipitation of Coldest Quarter, which therefore appears to have the most information that isn't present in the other variables.<br>
<br><img src="plots/Abies_concolor_jacknife.png"><br>
<br><HR><H2>Raw data outputs and control parameters</H2><br>
The data used in the above analysis is contained in the next links.  Please see the Help button for more information on these.<br>
<a href = "Abies_concolor.asc">The model applied to the training environmental layers</a><br>
<a href = "Abies_concolor.lambdas">The coefficients of the model</a><br>
<a href = "Abies_concolor_omission.csv">The omission and predicted area for varying cumulative and raw thresholds</a><br>
<a href = "Abies_concolor_samplePredictions.csv">The prediction strength at the training and (optionally) test presence sites</a><br>
<a href = "maxentResults.csv">Results for all species modeled in the same Maxent run, with summary statistics and (optionally) jackknife results</a><br>
<br><br>
Regularized training gain is 5.138, training AUC is 0.998, unregularized training gain is 5.444.<br>
Algorithm terminated after 500 iterations (4 seconds).<br>
<br>
The follow settings were used during the run:<br>
28 presence records used for training.<br>
10028 points used to determine the Maxent distribution (background points and presence points).<br>
Environmental layers used (all continuous): Annual Mean Temperature Annual Precipitation Isothermality Max Temperature of Warmest Month Mean Diurnal Range Mean Temperature of Coldest Quarter Mean Temperature of Driest Quarter Mean Temperature of Warmest Quarter Mean Temperature of Wettest Quarter Min Temperature of Coldest Month Precipitation Seasonality Precipitation of Coldest Quarter Precipitation of Driest Month Precipitation of Driest Quarter Precipitation of Warmest Quarter Precipitation of Wettest Month Precipitation of Wettest Quarter Temperature Annual Range Temperature Seasonality<br>
Regularization values: linear/quadratic/product: 0.288, categorical: 0.250, threshold: 1.720, hinge: 0.500<br>
Feature types used: hinge linear quadratic<br>
jackknife: true<br>
outputdirectory: /Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/maxent<br>
samplesfile: /Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/Abies concolor.csv<br>
environmentallayers: /Users/aph82/Desktop/RisForResearch/bioclim/<br>
askoverwrite: false<br>
autorun: true<br>
adjustsampleradius: -7<br>
Command line used:  environmentallayers=/Users/aph82/Desktop/RisForResearch/bioclim/ samplesfile=/Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/Abies concolor.csv outputdirectory=/Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/maxent redoifexists autorun adjustsampleradius=-7 jackknife<br>
<br>
Command line to repeat this species model: java density.MaxEnt nowarnings noprefixes -E "" -E Abies_concolor jackknife "outputdirectory=/Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/maxent" "samplesfile=/Users/aph82/Desktop/RisForResearch/RESULTS/Abies concolor/Sierra/GBIF/Abies concolor.csv" environmentallayers=/Users/aph82/Desktop/RisForResearch/bioclim/ noaskoverwrite autorun adjustsampleradius=-7<br>
