<title>Maxent model for Abies_magnifica</title>
<CENTER><H1>Maxent model for Abies_magnifica</H1></CENTER>
<br> This page contains some analysis of the Maxent model for Abies_magnifica, created Sat Apr 01 06:43:28 EDT 2017 using Maxent version 3.3.3k.  If you would like to do further analyses, the raw data used here is linked to at the end of this page.<br>
<br><HR><H2>Analysis of omission/commission</H2>
The following picture shows the omission rate and predicted area as a function of the cumulative threshold.  The omission rate is is calculated both on the training presence records, and (if test data are used) on the test records.  The omission rate should be close to the predicted omission, because of the definition of the cumulative threshold.
<br><img src="plots/Abies_magnifica_omission.png"><br>
<br> The next picture is the receiver operating characteristic (ROC) curve for the same data.  Note that the specificity is defined using predicted area, rather than true commission (see the paper by Phillips, Anderson and Schapire cited on the help page for discussion of what this means).  This implies that the maximum achievable AUC is less than 1.  If test data is drawn from the Maxent distribution itself, then the maximum possible test AUC would be 0.972 rather than 1; in practice the test AUC may exceed this bound.
<br><img src="plots/Abies_magnifica_roc.png"><br>
<br>
<br>
Some common thresholds and corresponding omission rates are as follows.  If test data are available, binomial probabilities are calculated exactly if the number of test samples is at most 25, otherwise using a normal approximation to the binomial.  These are 1-sided p-values for the null hypothesis that test points are predicted no better than by a random prediction with the same fractional predicted area.  The "Balance" threshold minimizes 6 * training omission rate + .04 * cumulative threshold + 1.6 * fractional predicted area.<br>
<br><table border cols=6 cellpadding=3><tr><th>Cumulative threshold</th><th>Logistic threshold</th><th>Description</th><th>Fractional predicted area</th><th>Training omission rate</th><th>Test omission rate</th><th>P-value</th><tr align=center><td>1.000</td><td>0.011</td><td>Fixed cumulative value 1</td><td>0.161</td><td>0.000</td><td>0.059</td><td>0E0</td><tr align=center><td>5.000</td><td>0.099</td><td>Fixed cumulative value 5</td><td>0.086</td><td>0.000</td><td>0.232</td><td>0E0</td><tr align=center><td>10.000</td><td>0.189</td><td>Fixed cumulative value 10</td><td>0.063</td><td>0.024</td><td>0.309</td><td>0E0</td><tr align=center><td>8.135</td><td>0.155</td><td>Minimum training presence</td><td>0.070</td><td>0.000</td><td>0.295</td><td>0E0</td><tr align=center><td>18.909</td><td>0.327</td><td>10 percentile training presence</td><td>0.044</td><td>0.095</td><td>0.386</td><td>0E0</td><tr align=center><td>15.633</td><td>0.280</td><td>Equal training sensitivity and specificity</td><td>0.050</td><td>0.048</td><td>0.377</td><td>0E0</td><tr align=center><td>8.135</td><td>0.155</td><td>Maximum training sensitivity plus specificity</td><td>0.070</td><td>0.000</td><td>0.295</td><td>0E0</td><tr align=center><td>2.373</td><td>0.039</td><td>Equal test sensitivity and specificity</td><td>0.115</td><td>0.000</td><td>0.114</td><td>0E0</td><tr align=center><td>1.276</td><td>0.016</td><td>Maximum test sensitivity plus specificity</td><td>0.146</td><td>0.000</td><td>0.064</td><td>0E0</td><tr align=center><td>1.951</td><td>0.030</td><td>Balance training omission, predicted area and threshold value</td><td>0.124</td><td>0.000</td><td>0.086</td><td>0E0</td><tr align=center><td>7.225</td><td>0.139</td><td>Equate entropy of thresholded and original distributions</td><td>0.074</td><td>0.000</td><td>0.291</td><td>0E0</td></table><br>
<br><HR><H2>Pictures of the model</H2>
This is a representation of the Maxent model for Abies_magnifica.  Warmer colors show areas with better predicted conditions.  White dots show the presence locations used for training, while violet dots show test locations.  Click on the image for a full-size version.<br>
<br><a href = "plots/Abies_magnifica.png"> <img src="plots/Abies_magnifica.png" height=600></a><br>
<br>Click <a href=Abies_magnifica_explain.bat type=application/bat>here<a> to interactively explore this prediction using the Explain tool.  If clicking from your browser does not succeed in starting the tool, try running the script in /Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/maxent/Abies_magnifica_explain.bat directly.  This tool requires the environmental grids to be small enough that they all fit in memory.<br><br>
<br><HR><H2>Analysis of variable contributions</H2><br>
The following table gives estimates of relative contributions of the environmental variables to the Maxent model.  To determine the first estimate, in each iteration of the training algorithm, the increase in regularized gain is added to the contribution of the corresponding variable, or subtracted from it if the change to the absolute value of lambda is negative.  For the second estimate, for each environmental variable in turn, the values of that variable on training presence and background data are randomly permuted.  The model is reevaluated on the permuted data, and the resulting drop in training AUC is shown in the table, normalized to percentages.  As with the variable jackknife, variable contributions should be interpreted with caution when the predictor variables are correlated.<br>
<br><table border cols=3><tr><th>Variable</th><th>Percent contribution</th><th>Permutation importance</th><tr align=right><td>bio19</td><td>21.4</td><td>0</td></tr><tr align=right><td>bio14</td><td>16.1</td><td>0</td></tr><tr align=right><td>bio5</td><td>11.7</td><td>1.4</td></tr><tr align=right><td>bio2</td><td>9.6</td><td>0</td></tr><tr align=right><td>bio3</td><td>9.5</td><td>6.3</td></tr><tr align=right><td>bio13</td><td>9</td><td>0</td></tr><tr align=right><td>bio11</td><td>7.8</td><td>1.2</td></tr><tr align=right><td>bio10</td><td>6.9</td><td>0.2</td></tr><tr align=right><td>bio1</td><td>4.1</td><td>45.2</td></tr><tr align=right><td>bio15</td><td>2.8</td><td>44.8</td></tr><tr align=right><td>bio17</td><td>0.6</td><td>0</td></tr><tr align=right><td>bio6</td><td>0.3</td><td>0</td></tr><tr align=right><td>bio4</td><td>0.2</td><td>0.7</td></tr><tr align=right><td>bio12</td><td>0</td><td>0</td></tr><tr align=right><td>bio16</td><td>0</td><td>0.2</td></tr><tr align=right><td>bio9</td><td>0</td><td>0</td></tr><tr align=right><td>bio8</td><td>0</td><td>0</td></tr><tr align=right><td>bio7</td><td>0</td><td>0</td></tr><tr align=right><td>bio18</td><td>0</td><td>0</td></tr></table><br><br>
The following picture shows the results of the jackknife test of variable importance.  The environmental variable with highest gain when used in isolation is bio5, which therefore appears to have the most useful information by itself.  The environmental variable that decreases the gain the most when it is omitted is bio15, which therefore appears to have the most information that isn't present in the other variables.<br>
<br><img src="plots/Abies_magnifica_jacknife.png"><br>
<br>The next picture shows the same jackknife test, using test gain instead of training gain.  Note that conclusions about which variables are most important can change, now that we're looking at test data.
<br><img src="plots/Abies_magnifica_jacknife_test.png"><br>
<br>Lastly, we have the same jackknife test, using AUC on test data.
<br><img src="plots/Abies_magnifica_jacknife_auc.png"><br>
<br><HR><H2>Raw data outputs and control parameters</H2><br>
The data used in the above analysis is contained in the next links.  Please see the Help button for more information on these.<br>
<a href = "Abies_magnifica.asc">The model applied to the training environmental layers</a><br>
<a href = "Abies_magnifica.lambdas">The coefficients of the model</a><br>
<a href = "Abies_magnifica_omission.csv">The omission and predicted area for varying cumulative and raw thresholds</a><br>
<a href = "Abies_magnifica_samplePredictions.csv">The prediction strength at the training and (optionally) test presence sites</a><br>
<a href = "maxentResults.csv">Results for all species modeled in the same Maxent run, with summary statistics and (optionally) jackknife results</a><br>
<br><br>
Regularized training gain is 2.606, training AUC is 0.978, unregularized training gain is 2.783.<br>
Unregularized test gain is 1.774.<br>
Test AUC is 0.949, standard deviation is 0.004 (calculated as in DeLong, DeLong & Clarke-Pearson 1988, equation 2).<br>
Algorithm terminated after 500 iterations (5 seconds).<br>
<br>
The follow settings were used during the run:<br>
42 presence records used for training, 220 for testing.<br>
10030 points used to determine the Maxent distribution (background points and presence points).<br>
Environmental layers used (all continuous): bio1 bio10 bio11 bio12 bio13 bio14 bio15 bio16 bio17 bio18 bio19 bio2 bio3 bio4 bio5 bio6 bio7 bio8 bio9<br>
Regularization values: linear/quadratic/product: 0.216, categorical: 0.250, threshold: 1.580, hinge: 0.500<br>
Feature types used: hinge linear quadratic<br>
jackknife: true<br>
outputdirectory: /Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/maxent<br>
samplesfile: /Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/Abies magnifica.csv<br>
environmentallayers: /Users/averyhill/Desktop/RisForResearch/bioclimCA/<br>
askoverwrite: false<br>
testsamplesfile: /Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/TEST/Abies magnifica.csv<br>
writebackgroundpredictions: true<br>
autorun: true<br>
adjustsampleradius: -7<br>
Command line used:  environmentallayers=/Users/averyhill/Desktop/RisForResearch/bioclimCA/ samplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/Abies magnifica.csv outputdirectory=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/maxent redoifexists autorun adjustsampleradius=-7 jackknife writebackgroundpredictions testsamplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/TEST/Abies magnifica.csv<br>
<br>
Command line to repeat this species model: java density.MaxEnt nowarnings noprefixes -E "" -E Abies_magnifica jackknife "outputdirectory=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/maxent" "samplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/GBIF/Abies magnifica.csv" environmentallayers=/Users/averyhill/Desktop/RisForResearch/bioclimCA/ noaskoverwrite "testsamplesfile=/Users/averyhill/Desktop/RisForResearch/RESULTS/Abies magnifica/Sierra/TEST/Abies magnifica.csv" writebackgroundpredictions autorun adjustsampleradius=-7<br>
